{% extends "layout.html" %}
{% block body %}

<form action="/" method="POST">
{% if session['logged_in'] %}
  <input type="submit" name="submit" value="Play">
  <input type="submit" name="submit" value="Log out">
{% else %}
  <input type="submit" name="submit" value="Log in">
  <input type="submit" name="submit" value="Register">
{% endif %}
</form>

<h2>STATISTICS</h2>

<p> 
{{ shelter_cnt }}
inhabited shelters </p>

<p>
{{ survivor_cnt }}
survivors </p>

<p>
{{ leader_cnt }}
brave leaders </p>

<p>
{{ casuality_cnt }}
people have perished so far</p>

{% endblock %}