{% extends "layout.html" %}
{% block body %}

{% if session['logged_in'] %}
<p>You're already registred and logged in!</p>
{% else %}
<form action="/register" method="POST">

  <p>Name yourself, oh Brave Leader :
  <input type="username" name="username" placeholder="Name">
  </p>
  <p>Password so we know you are you :
  <input type="password" name="password" placeholder="Password">
  </p>
  <p>Verify your hush-hush password : 
  <input type="password" name="retypepw" placeholder="Verify it">
  </p>
  <input type="submit" value="Register">
</form>
{% endif %}

{% endblock %}